body {
    margin: 0;
    padding: 0;
}
.activite {
    position: relative;
    margin: 0.25rem 0.25rem;
    padding: 0.25rem 1rem;
    background-color: #eee;
    min-height: 16rem;
    overflow: hidden;
}
.activite a {
    text-decoration: none;
}
.activite_commentaire {
    padding: 0.5rem;
}
.liste_container {
    max-height: 20rem;
    overflow-y: auto;
}
.activite ul { 
    list-style: none; 
    padding: 0;
}
.activite li {
    border: 1px solid transparent;
    border-bottom-color: #aaa;
    margin: 0;
    padding: 0.25rem 1rem;
    overflow-x: visible;
}
.activite li img, .activite li b {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.activite li img {
    padding: 0.125rem;
    width: 2rem;
    height: 2rem;
    border: 1px solid #aaa;
    border-radius: 50%;
}
.activite li b {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    padding: 0 0.25rem;
    white-space: nowrap;
    overflow: visible;
}
.activite_image img {
    position: absolute;
    top: 1rem;
    left: 0;
    width: 100%;
    opacity: 0.25;
}
.activite_label {
    font-size: 1.125rem;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
.afficher {display: block;}
.fr {
    display: block;
    direction: ltr;
}
.nk {
    display: none;
    direction: rtl;
}
.page_body {
    position: relative;
    top: 10vh;
    margin: 0;
    padding: 0 0.75rem;
    width: calc(100% - 1.5rem);
    z-index: 0;
}
.page_head {
    top: 0;
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 10vh;
    min-height: 3rem;
    background-color: greenyellow;
    z-index: 1;
}
.trait_vertical {
    width: 1px;
    height: 5rem;
    background-color: #ccc;
    margin: 0;
}