
#activite_titre {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

@font-face {
    font-family: "NotoNko";
    src: url("../fonts/NotoSansNKoUnjoined-VariableFont_wght.ttf") format("truetype");
}
/*
@font-face {
    font-family: "NotoNko";
    src:
        url("../fonts/NotoSansNKoUnjoined-Regular.woff2") format("woff2"),
        url("../fonts/NotoSansNKoUnjoined-Regular.ttf") format("truetype");
}
*/
.activite_label {
    font-family: "NotoNko";
    font-weight: bold;
}
.unjoined { font-feature-settings: "init" 0, "medi" 0, "fina" 0, "isol" 1; }