i { font-size: 1.25rem; }
#nom_de_ferme, #langue, #menu {
    position: relative;
    display: inline-block; 
    margin: 1rem;
    padding: 0 0.25rem;
    vertical-align: top;
    height: 2rem;
    line-height: 2rem;
}
#menu {
    width: max-content;
}
#nom_de_ferme a {
    text-decoration: none;
}
#langue {
    width: 4rem;
}
#langue ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0.5rem 1rem;
    background-color: #fff;
    box-shadow: 0 0 0.5rem #ccc;
    width: max-content;
}
#langue li {
    padding: 0;
    margin: 0;
}
